*{
    margin: 2px; padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
#nav h3 {
    background-color: red;
    text-align: center;
    text-transform: capitalize;
}
#inner{
    font-size: 10px;
}
#outer{
    font-size: 25px;
}